
.DS_Store
P1 - Introduction and Perceptron/.ipynb_checkpoints/*
P2 - Optimization/.ipynb_checkpoints/*
P3 - Multilayer Perceptron and Autoencoders/.ipynb_checkpoints/*
P4 - Deep Learning/.ipynb_checkpoints/*
P4 - Deep Learning/data/*
P5 - Sequence Models/.ipynb_checkpoints/*
P6 - Energy-Based Models/.ipynb_checkpoints/*
P7 - Reinforcement Learning/.ipynb_checkpoints/*
